{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker_log_max_size }}",
    "max-file": "{{ docker_log_max_file }}"
  },
  "iptables": {{ docker_manage_iptables | bool | lower }},
  "live-restore": true
}
